* {
    box-sizing: border-box;
  }
  
  body {
    padding: 10px;
    background: #e3e3e3;
  }
  
  /* Header/Blog Title */
  .header {
    font-family: chalkduster;
    padding: 30px;
    color: white;
    text-align: center;
    background: #272727;
  }
  
  .header h1 {
    font-size: 50px;
    
  }
  
  /* Style the top navigation bar */
  .topnav {
    font-family: Arial;
    overflow: hidden;
    background-color: #787878;
  }
  
  /* Style the topnav links */
  .topnav a {
    font-family: Arial;
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #e3e3e3;
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    font-family: Arial;
    background-color: #e3e3e3;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }

  /* Portraits*/
  .portraits {
    font-family: monospace;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    background-color: rgb(5, 5, 5);
    width: 100%;
    padding: 10%;
  }
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    font-family: Arial;
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  .headerCh {
    padding: 10px;
    text-align: center;
    background: #ffffff;
    left: 0%;
  }

  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
